<div class="panel panel-primary text-center">
  <div class="panel-heading">
    <h3 class="panel-title">IDOSS</h3>
    <p>
      Nombre de résultats : {{idoss.length}}
    </p>
  </div>
  <div class="panel-body">
    <form #form="ngForm">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 form-group">
          <label class="control-label">Date de lancement
            <span class="glyphicon glyphicon-calendar"></span>
          </label>
          <input type="text" class="form-control" name="date" ngModel placeholder="DD/MM/YYYY" placement="left" bsDatepicker [bsConfig]="bsConfig">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <button type="button" class="btn btn-primary btn-block" (click)="rechercher(form.value)">
            <i class="fas fa-search"></i> Rechercher
            <i class="fas fa-spinner fa-spin" *ngIf="loading"></i>
          </button>
        </div>
      </div>
    </form>
    <div *ngIf="idoss.length">
      <hr style="border:1px solid silver">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Date de lancement</th>
            <th>Nombre de lignes du fichier</th>
            <th>Nombre de rapprochements possible</th>
            <th>Nombre de rapprochements impossible</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of idoss" routerLinkActive='active'>
            <td>
              <a [routerLink]="['../Information idoss',{id:data.id,date:data.dateLancement}]">{{data.id}}</a>
            </td>
            <td>{{data.dateLancement}}</td>
            <td>{{data.nombreDeLigneLu}}</td>
            <td>{{data.nombreDeLigneTrouve}}</td>
            <td>{{data.nombreDeLigneNonTrouve}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>