table{
    margin-top:10px;
}

td{
    text-align: center
}

.alert{
    margin:10px 0px;
    padding:0px 15px;
}

.alert h4{
    margin-top:10px;
}

.btn-group{
    top:4px;
}

.carreGris,carreVert{
    margin:0px 15px;
}

a {
    text-decoration-line: underline
}