<!-- Rechercher refacturation-->
<div class="panel panel-primary text-center">
  <div class="panel-heading">
    <h3 class="panel-title">RECHERCHE DES RE-FACTURATIONS</h3>
    <p>
      Nombre de résultats : {{historiqueRefacturations.length}}
    </p>
  </div>
  <div class="panel-body">
    <form #form="ngForm">
      <div class="row">
        <div class="col-sm-4 form-group">
          <label class="control-label">Type de taxe</label>
          <select class="form-control" name="typeTaxe" ngModel>
            <option value=""></option>
            <option *ngFor="let typeTaxe of typeTaxes" [value]="typeTaxe.libelle">{{typeTaxe.libelle}}</option>
          </select>
        </div>
        <div class="col-sm-2 form-group">
          <label class="control-label">Date de refacturation
            <span class="glyphicon glyphicon-calendar"></span>
          </label>
          <input type="text" class="form-control" name="date" ngModel placeholder="DD/MM/YYYY" placement="left" bsDatepicker [bsConfig]="bsConfig">
        </div>
        <div class="col-sm-2 form-group">
          <label class="control-label">N° redevable</label>
          <input type="text" class="form-control" name="numRedevable" ngModel>
        </div>
        <div class="col-sm-2 form-group">
          <label class="control-label">N° facture annulée</label>
          <input type="text" class="form-control" name="numeroFacture" ngModel>
        </div>
        <div class="col-sm-2 form-group">
          <label class="control-label">Année</label>
          <input type="text" class="form-control" name="annee" ngModel>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-4 col-sm-4">          
          <button type="button" class="btn btn-primary btn-block" (click)="rechercher(form.value)">
              <i class="fas fa-search"></i> Rechercher <i class="fas fa-spinner fa-spin" *ngIf="loading"></i>
          </button>             
        </div>       
      </div>
    </form>
    <div *ngIf="historiqueRefacturations.length">
      <hr style="border:1px solid silver">   
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>N° refacturation</th>
            <th>Année de l'exercice</th>
            <th>Type de taxe</th>
            <th>N° facture annulée</th>
            <th>N° redevable</th>
            <th>date de refacturation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of historiqueRefacturations" routerLinkActive='active'>
            <td>{{data.id}}</td>
            <td>{{data.anneeExercice}}</td>
            <td>{{data.typetaxe}}</td>
            <td>{{data.numeroFacture}}</td>
            <td>          
              <a [routerLink]="['../Création d\'un redevable',{numRedevable:data.numRedevable}]">
              {{data.numRedevable}}
              </a>
            </td>
            <td>{{data.dateRefacturation}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
