<div class="wrapper">
  <div class="box1">
      <div class="content">
        <p style="font-size:1.2em">
           <strong>&nbsp;Bienvenue dans l'espace de la Mairie de Toulon {{user.nom}}</strong>
        </p>
         <p>
           <strong>Le service des recouvrements et taxes du domaine public vous permet de :<br>
            -Gérer par exercice comptable des redevables ou des sociétés possédant un ou plusieurs emplacements de différents types.<br>
            -Facturer des emplacements.
          </strong>
        </p>
      </div>
  </div>
  <div class="row text-center">   
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="assets/images/logoToulon.jpg" alt="logoToulon">
        <br><a href="http://www.toulon.com" target="_blank">Mairie de Toulon</a>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding:40px;">
        <img src="assets/images/logoAnalogon.png" alt="logoAnalogon" style="border-radius: 50%">
        <br><a href="http://www.analogon.fr" target="_blank">Pour visiter notre site web, cliquez ici</a>
      </div>  
  </div>
</div>
